--------------------------------------------------------
--  DDL for Index SYS_C0012413
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012413" ON "JAREDBACH"."PLANT_LOCATIONS" ("PLANT_LOCATION_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index SYS_C0012414
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012414" ON "JAREDBACH"."DEST_PORT_LOCATIONS" ("DEST_PORT_LOCATION_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index SYS_C0012415
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012415" ON "JAREDBACH"."ORIG_PORT_LOCATIONS" ("ORIG_PORT_LOCATION_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index SYS_C0012412
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012412" ON "JAREDBACH"."PORT_LOCATIONS" ("PORT_LOCATION_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index CUSTOMERS_PK
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."CUSTOMERS_PK" ON "JAREDBACH"."CUSTOMERS" ("CUSTOMERS_SH") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index DATES_PK
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."DATES_PK" ON "JAREDBACH"."DATES" ("DATE_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index SYS_C0012404
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012404" ON "JAREDBACH"."PLANTPRODCUST" ("PLANTPRODCUST_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index SYS_C0012402
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012402" ON "JAREDBACH"."PORTCARRIER" ("PORTCARRIER_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index SYS_C0012401
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012401" ON "JAREDBACH"."PLANTCONSTRAINTS" ("PLANTCODE_CONSTRAINT_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index SYS_C0012400
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012400" ON "JAREDBACH"."FREIGHTRATES" ("FREIGHT_RATES_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  DDL for Index SYS_C0012403
--------------------------------------------------------

  CREATE UNIQUE INDEX "JAREDBACH"."SYS_C0012403" ON "JAREDBACH"."ORDERLIST" ("ORDER_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;

--------------------------------------------------------
--  Constraints for Table PLANT_LOCATIONS
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."PLANT_LOCATIONS" ADD PRIMARY KEY ("PLANT_LOCATION_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table DEST_PORT_LOCATIONS
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."DEST_PORT_LOCATIONS" ADD PRIMARY KEY ("DEST_PORT_LOCATION_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table ORIG_PORT_LOCATIONS
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."ORIG_PORT_LOCATIONS" ADD PRIMARY KEY ("ORIG_PORT_LOCATION_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table PORT_LOCATIONS
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."PORT_LOCATIONS" ADD PRIMARY KEY ("PORT_LOCATION_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table CUSTOMERS
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."CUSTOMERS" MODIFY ("CUSTOMERS_SH" NOT NULL ENABLE);
  ALTER TABLE "JAREDBACH"."CUSTOMERS" ADD CONSTRAINT "CUSTOMERS_PK" PRIMARY KEY ("CUSTOMERS_SH")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table DATES
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."DATES" MODIFY ("DATE_ID" NOT NULL ENABLE);
  ALTER TABLE "JAREDBACH"."DATES" ADD CONSTRAINT "DATES_PK" PRIMARY KEY ("DATE_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table PLANTPRODCUST
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."PLANTPRODCUST" ADD PRIMARY KEY ("PLANTPRODCUST_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table PORTCARRIER
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."PORTCARRIER" ADD PRIMARY KEY ("PORTCARRIER_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table FREIGHTRATES
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."FREIGHTRATES" ADD PRIMARY KEY ("FREIGHT_RATES_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table PLANTCONSTRAINTS
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."PLANTCONSTRAINTS" ADD PRIMARY KEY ("PLANTCODE_CONSTRAINT_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Constraints for Table ORDERLIST
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."ORDERLIST" ADD PRIMARY KEY ("ORDER_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;

--------------------------------------------------------
--  Ref Constraints for Table PLANTPRODCUST
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."PLANTPRODCUST" ADD FOREIGN KEY ("PLANT_LOCATION_ID")
  REFERENCES "JAREDBACH"."PLANT_LOCATIONS" ("PLANT_LOCATION_ID") ENABLE;

--------------------------------------------------------
--  Ref Constraints for Table PORTCARRIER
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."PORTCARRIER" ADD FOREIGN KEY ("ORIG_PORT_LOCATION_ID")
	  REFERENCES "JAREDBACH"."ORIG_PORT_LOCATIONS" ("ORIG_PORT_LOCATION_ID") ENABLE;
  ALTER TABLE "JAREDBACH"."PORTCARRIER" ADD FOREIGN KEY ("DEST_PORT_LOCATION_ID")
	  REFERENCES "JAREDBACH"."DEST_PORT_LOCATIONS" ("DEST_PORT_LOCATION_ID") ENABLE;

--------------------------------------------------------
--  Ref Constraints for Table PLANTCONSTRAINTS
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."PLANTCONSTRAINTS" ADD FOREIGN KEY ("PLANTPRODCUST_ID")
	  REFERENCES "JAREDBACH"."PLANTPRODCUST" ("PLANTPRODCUST_ID") ENABLE;
  ALTER TABLE "JAREDBACH"."PLANTCONSTRAINTS" ADD FOREIGN KEY ("PORT_LOCATION_ID")
	  REFERENCES "JAREDBACH"."PORT_LOCATIONS" ("PORT_LOCATION_ID") ENABLE;

--------------------------------------------------------
--  Ref Constraints for Table FREIGHTRATES
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."FREIGHTRATES" ADD FOREIGN KEY ("PORTCARRIER_ID")
	  REFERENCES "JAREDBACH"."PORTCARRIER" ("PORTCARRIER_ID") ENABLE;

--------------------------------------------------------
--  Ref Constraints for Table ORDERLIST
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."ORDERLIST" ADD FOREIGN KEY ("PORTCARRIER_ID")
	  REFERENCES "JAREDBACH"."PORTCARRIER" ("PORTCARRIER_ID") ENABLE;
  ALTER TABLE "JAREDBACH"."ORDERLIST" ADD FOREIGN KEY ("PLANTPRODCUST_ID")
	  REFERENCES "JAREDBACH"."PLANTPRODCUST" ("PLANTPRODCUST_ID") ENABLE;

--------------------------------------------------------
--  Ref Constraints for Table FACTTABLE
--------------------------------------------------------

  ALTER TABLE "JAREDBACH"."FACTTABLE" ADD CONSTRAINT "FACTTABLE_FK1" FOREIGN KEY ("CUSTOMER")
	  REFERENCES "JAREDBACH"."CUSTOMERS" ("CUSTOMERS_SH") ENABLE;
  ALTER TABLE "JAREDBACH"."FACTTABLE" ADD CONSTRAINT "FACTTABLE_FK2" FOREIGN KEY ("DATE_ID")
	  REFERENCES "JAREDBACH"."DATES" ("DATE_ID") ENABLE;
  ALTER TABLE "JAREDBACH"."FACTTABLE" ADD FOREIGN KEY ("PLANTCODE_CONSTRAINT_ID")
	  REFERENCES "JAREDBACH"."PLANTCONSTRAINTS" ("PLANTCODE_CONSTRAINT_ID") ENABLE;
  ALTER TABLE "JAREDBACH"."FACTTABLE" ADD FOREIGN KEY ("ORDER_ID")
	  REFERENCES "JAREDBACH"."ORDERLIST" ("ORDER_ID") ENABLE NOVALIDATE;
  ALTER TABLE "JAREDBACH"."FACTTABLE" ADD FOREIGN KEY ("FREIGHT_RATES_ID")
	  REFERENCES "JAREDBACH"."FREIGHTRATES" ("FREIGHT_RATES_ID") ENABLE;



